{% extends 'layouts/sidebar_right.html' %}

{% block sidebar %}
    [sidebar]
{% endblock sidebar %}

{% block content %}
    <div id="user-lists-page">
        <div>
            {% for list in lists %}
                <div>
                    <a href="{{ list.get_absolute_url }}"><h3>{{ list.title }}</h3></a>
                    {{ list.listproducts_set.count }} item{{ list.listproducts_set.count|pluralize }}
                </div>
            {% empty %}
                <div>
                    No lists for you!
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}