{% extends 'layouts/sidebar_right.html' %}

{% block sidebar %}

{% endblock sidebar %}

{% block content %}
    <div id="list-page">
        <h1>{{ list.title }}</h1>

        <div class="row">
            {% for item in list.listproducts_set.all %}
                <div class="span2">
                    <span class="hide">{{ item.product.get_details }}</span>
                    <img src="{{ item.product.data.medium_image_url}}">
                </div>
                <div class="span6">
                    <a href="{{ item.product.get_absolute_url }}"><h2>{{ item.product.data.title }}</h2></a>
                    {{ item.notes }}
                </div>
                <div class="clearfix"></div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}