{% extends 'layouts/page.html' %}

{% block prebody %}
  <div id="product-search" ng-controller="ProductSearchController">
    <div class="product-search-form fixed-top">
      <div class="container">
        <form class="form-inline">
          <div class="input-group input-group-lg">
            <input type="text" class="form-control" placeholder="Search for a product" ng-model="q" ng-change="onSearchQueryChange();">
            <span class="input-group-addon btn btn-success"><i class="glyphicon glyphicon-search"></i></span>
          </div>
        </form>
      </div>
    </div>
{% endblock prebody %}

{% block content %}
  <div id="product-search-results" ng-if="products.length > 0">
    <div class="card search-result-item" ng-repeat="product in products">
      <img class="img-thumbnail product-image" ng-src="[{ product.image_large }]">
      <div class="product-title">
        [{ product.title }]
      </div>
      <div class="product-brand quiet">
        [{ product.brand }]
      </div>
    </div>
  </div>
{% endblock content %}

{% block postbody %}
  </div>
{% endblock postbody %}