/* Template */
/* line 4, ../sass/guppylist.scss */
header {
  background-position: center;
  color: #ffffff;
  padding: 20px 0px 15px 0px;
}
/* line 9, ../sass/guppylist.scss */
header .navbar-inverse {
  background: #14457b;
  background-image: -moz-linear-gradient(center top, #14457b, #2e649e);
}
/* line 13, ../sass/guppylist.scss */
header .navbar-inverse .navbar-brand {
  color: #ffffff;
  font-size: 30px;
}
/* line 18, ../sass/guppylist.scss */
header .navbar-inverse .dropdown {
  height: 51px;
}
/* line 21, ../sass/guppylist.scss */
header .navbar-inverse .dropdown .dropdown-toggle {
  line-height: 34px;
  color: #ffffff !important;
  padding: 7px;
}
/* line 26, ../sass/guppylist.scss */
header .navbar-inverse .dropdown .dropdown-toggle .caret {
  border-top-color: #ffffff !important;
}
/* line 30, ../sass/guppylist.scss */
header .navbar-inverse .dropdown .dropdown-toggle img.facebook-avatar {
  width: 40px;
}
/* line 36, ../sass/guppylist.scss */
header .navbar-inverse .nav li.dropdown.open > .dropdown-toggle {
  background-color: #2e649e;
}
/* line 40, ../sass/guppylist.scss */
header .navbar-inverse .facebook-login-button {
  margin-top: 8px;
}
/* line 45, ../sass/guppylist.scss */
header .search-form {
  margin: 10px 0px 0px 0px;
}
/* line 48, ../sass/guppylist.scss */
header .search-form #search-button {
  height: 38px;
}
/* line 52, ../sass/guppylist.scss */
header .search-form #search-field, header .search-form .tt-hint {
  width: 412px;
}

/* line 58, ../sass/guppylist.scss */
article {
  padding: 15px 0px;
}

/* line 62, ../sass/guppylist.scss */
footer {
  background: #2E3030;
  color: #999999;
  padding: 15px 0px 15px 0px;
}
/* line 67, ../sass/guppylist.scss */
footer a, footer a:hover, footer a:visited {
  color: #ffffff;
}

/* Overrides */
/* line 73, ../sass/guppylist.scss */
h1, h2, h3, h4, h5, h6 {
  margin: 0px 0px 5px 0px;
  padding: 0px;
}

/* line 77, ../sass/guppylist.scss */
h1.title, h2.title, h3.title, h4.title, h5.title, h6.title {
  padding: 0px;
  margin: 0px;
}

/* line 82, ../sass/guppylist.scss */
a {
  color: #aa0000;
}

/* line 86, ../sass/guppylist.scss */
hr {
  margin: 10px 0px 10px 0px;
}

/* line 90, ../sass/guppylist.scss */
form {
  margin: 0px;
}

/* line 94, ../sass/guppylist.scss */
input[type="radio"], input[type="checkbox"] {
  margin-top: 0px;
}

/* line 98, ../sass/guppylist.scss */
.span1, .span2, .span3, .span4, .span5, .span6, .span7, .span7, .span8, .span9, .span10, .span11, .span12 {
  position: relative;
}

/* Chrome */
/* line 103, ../sass/guppylist.scss */
.chrome {
  font-weight: bold;
  background-color: #efefef;
  border-top: 1px solid #dedede;
  border-bottom: 2px solid #bcbcbc;
  padding: 5px 5px 5px 10px;
  margin-bottom: 10px;
  text-transform: uppercase;
  line-height: 1em;
}

/* line 113, ../sass/guppylist.scss */
h1.chrome {
  font-size: 1.5em;
}

/* line 116, ../sass/guppylist.scss */
h2.chrome {
  font-size: 1.2em;
}

/* line 119, ../sass/guppylist.scss */
h3.chrome {
  font-size: 0.9em;
}

/* line 122, ../sass/guppylist.scss */
h4.chrome {
  font-size: 0.8em;
}

/* Lists */
/* line 127, ../sass/guppylist.scss */
ul.list {
  margin: 0px;
  list-style: none;
  display: inline-block;
  width: 100%;
}
/* line 133, ../sass/guppylist.scss */
ul.list li {
  clear: both;
  float: left;
  width: 100%;
}

/* line 139, ../sass/guppylist.scss */
ul.list li.list-item, div.list-item {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #dcdcdc;
  background: #ffffff;
  /* Old browsers */
  background: #ffffff;
  /* Old browsers */
  background: -moz-linear-gradient(top, white 51%, #f2f2f2 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(51%, white), color-stop(100%, #f2f2f2));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, white 51%, #f2f2f2 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, white 51%, #f2f2f2 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, white 51%, #f2f2f2 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #ffffff 51%, #f2f2f2 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f2f2f2',GradientType=0 );
  /* IE6-9 */
}

/* line 153, ../sass/guppylist.scss */
.list-item.last {
  border-bottom: 0px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

/* UI Helpers */
/* line 160, ../sass/guppylist.scss */
.rounded-corners {
  border-radius: 4px 4px 4px 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
}

/* line 165, ../sass/guppylist.scss */
.loader {
  background: url("../../images/template/loader-large.gif") no-repeat scroll 50% 50%;
  background-color: rgba(255, 255, 255, 0.8);
  position: absolute;
  z-index: 9999;
  /*display: none;*/
  width: 100%;
  height: 100%;
  text-align: center;
  vertical-align: middle;
}
/* line 176, ../sass/guppylist.scss */
.loader span {
  vertical-align: middle;
  display: inline-block;
  margin-top: 50px;
  font-size: 12px;
  color: #666666;
}

/* line 184, ../sass/guppylist.scss */
.loader:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em;
}

/* line 191, ../sass/guppylist.scss */
.loader.loader-small {
  background: url("../images/template/loader-small.gif") no-repeat scroll 50% 50%;
}

/* Images */
/* line 196, ../sass/guppylist.scss */
.image-main {
  -moz-box-shadow: 0px 3px 7px 0px #666666;
  -webkit-box-shadow: 0px 3px 7px 0px #666666;
  box-shadow: 0px 3px 7px 0px #666666;
}

/* line 201, ../sass/guppylist.scss */
.image-medium {
  -moz-box-shadow: 0px 2px 5px 0px #666666;
  -webkit-box-shadow: 0px 2px 5px 0px #666666;
  box-shadow: 0px 2px 5px 0px #666666;
}

/* line 206, ../sass/guppylist.scss */
.image-small {
  -moz-box-shadow: 0px 1px 3px 0px #666666;
  -webkit-box-shadow: 0px 1px 3px 0px #666666;
  box-shadow: 0px 1px 3px 0px #666666;
}

/* line 211, ../sass/guppylist.scss */
.image-thumb {
  -moz-box-shadow: 0px 1px 2px 0px #666666;
  -webkit-box-shadow: 0px 1px 2px 0px #666666;
  box-shadow: 0px 1px 2px 0px #666666;
}

/* Homepage */
/* line 218, ../sass/guppylist.scss */
#main-story {
  position: relative;
  margin-bottom: 15px;
}
/* line 222, ../sass/guppylist.scss */
#main-story .title-bar {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 15px 15px 10px 15px;
  position: absolute;
  bottom: 30px;
  right: 0px;
  -moz-box-shadow: 0px 1px 3px 0px #ffffff;
  -webkit-box-shadow: 0px 1px 3px 0px #ffffff;
  box-shadow: 0px 1px 3px 0px #ffffff;
}
/* line 232, ../sass/guppylist.scss */
#main-story .title-bar a {
  text-decoration: none;
  color: #ffffff;
}
/* line 237, ../sass/guppylist.scss */
#main-story .title-bar .title {
  color: #ffffff;
  font-size: 1.9em;
  margin-bottom: 3px;
}
/* line 243, ../sass/guppylist.scss */
#main-story .title-bar .teaser {
  color: #ffffff;
  font-size: 1em;
}

/* Search */
/* line 252, ../sass/guppylist.scss */
#search-page .grid {
  margin: 0px;
  padding: 0px;
}
/* line 256, ../sass/guppylist.scss */
#search-page .grid .grid-item {
  border: 1px solid #dcdcdc;
  display: inline-block;
  overflow: hidden;
  width: 222px;
  height: 222px;
  margin: 0px 7px 7px 0px;
}
/* line 264, ../sass/guppylist.scss */
#search-page .grid .grid-item a {
  margin: 0px;
  display: block;
  width: 100%;
  height: 100%;
}

/* List Page */
/* line 276, ../sass/guppylist.scss */
#list-page h2 {
  font-size: 18px;
  line-height: 22px;
}

/* Add To List Modal */
/* line 283, ../sass/guppylist.scss */
#addToList.modal {
  width: 650px;
  margin-left: -325px;
}
/* line 289, ../sass/guppylist.scss */
#addToList.modal .modal-body .existing-list-item label {
  display: inline-block;
}
/* line 295, ../sass/guppylist.scss */
#addToList.modal .modal-body .new-list-fields input, #addToList.modal .modal-body .new-list-fields textarea {
  width: 365px;
}
/* line 299, ../sass/guppylist.scss */
#addToList.modal .modal-body .new-list-fields textarea {
  height: 100px;
}
/* line 305, ../sass/guppylist.scss */
#addToList.modal .modal-body .notes-fields textarea {
  width: 365px;
  height: 60px;
}

/* line 314, ../sass/guppylist.scss */
.twitter-typeahead .tt-suggestion {
  color: #cc0000 !important;
}
/* line 318, ../sass/guppylist.scss */
.twitter-typeahead .tt-hint {
  display: block;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #000000;
}
/* line 329, ../sass/guppylist.scss */
.twitter-typeahead .hint-small {
  height: 30px;
  padding: 5px 10px;
  font-size: 12px;
  border-radius: 3px;
  line-height: 1.5;
}
/* line 337, ../sass/guppylist.scss */
.twitter-typeahead .hint-large {
  height: 45px;
  padding: 10px 16px;
  font-size: 18px;
  border-radius: 6px;
  line-height: 1.33;
}
