{% extends 'meta.html' %}

{% block body %}
    <header>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <div class="row">
                        <div class="span8">
                            <div class="row">
                                <div class="span2">
                                    <a class="brand" href="/"><strong>guppy</strong>:list</a>
                                </div>
                                <div class="span6">
                                    <form class="search-form" action="/search" method="get">
                                        <div class="input-append">
                                            <input id="search-field" class="span6" type="text" name="q" value="{{ q }}" placeholder="Search products" autocomplete="off">
                                            <input id="search-button" type="submit" class="btn btn-success" value="Go!">
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="span4">
                            {% if user.is_authenticated %}
                                <div class="nav-collapse collapse pull-right">
                                    <ul class="nav">
                                        <li class="dropdown">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                                <i class="icon-list icon-white"></i>
                                                My Lists
                                                <b class="caret"></b>
                                            </a>
                                            <ul class="dropdown-menu">

                                            </ul>
                                            <!-- <ul class="dropdown-menu">
                                                <li><a href="#">Action</a></li>
                                                <li><a href="#">Another action</a></li>
                                                <li><a href="#">Something else here</a></li>
                                                <li class="divider"></li>
                                                <li class="nav-header">Nav header</li>
                                                <li><a href="#">Separated link</a></li>
                                                <li><a href="#">One more separated link</a></li>
                                            </ul> -->
                                        </li>
                                        <li class="dropdown">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                                <img class="img-rounded" src="http://graph.facebook.com/{{ user.profile_or_self.facebook_id }}/picture?type=square" title="" width="35" />
                                                <b class="caret"></b>
                                            </a>
                                            <ul class="dropdown-menu">
                                                <li><a href="{% url 'auth_logout' %}">logout</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            {% else %}
                                <form class="pull-right" action="{% url 'facebook_connect' %}" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" value="{{ request.path }}" name="next" />
                                    <input class="facebook-login-button" onclick="F.connect(this.parentNode); return false;" type="image" src="{{ STATIC_URL }}images/template/facebook_login_button.png" />
                                </form>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <article>
        <div class="container">
            <div class="row">
                <div class="span12">
                    <article>
                        {% block template %}
                        {% endblock template %}
                    </article>
                </div>
            </div>
        </div>
    </article>

    <footer>
        <div class="container">
            <div class="row">

            </div>
        </div>
    </footer>
{% endblock body %}