{% extends 'layouts/full.html' %}

{% block content %}
    <div id="search-page" ng-controller="SearchController">
        <section>
            <ul class="grid">
                <li class="grid-item" ng-repeat="product in products" style="background: url('{[ product.data.large_image_url ]}') left center no-repeat; background-size: 222px auto;">
                    {[ product.data.title ]}
                    <a href="{{ product.get_absolute_url }}?q={[ q ]}" data-toggle="popover" data-trigger="hover" data-animation="false" title="{[ product.data.title ]}" data-placement="left"></a>
                </li>
            </li>
        </section>
    </div>
{% endblock content %}