/* Template */
header {
  background: #003965 url('/static/images/template/header_glow.png') no-repeat;
  background-position: center;
  color: #ffffff;
  padding: 15px 0px 15px 0px;

  .navigation {
    font-size: 1.2em;
    text-transform: uppercase;

    li {
      display: inline;
      margin-right: 18px
    }

    li.last {
      margin-right: 0px
    }
  }

  a, a:visited {
    font-weight: bold;
    color: #ffffff;
    text-decoration: none;
  }

  a:hover {
    color: #aa0000;
  }

  .contact-info {
    margin: -17px 3px 0px 0px;
  }
}

article {
  padding: 5px 0px 15px 0px;
}

footer {
  background: #2E3030;
  color: #999999;
  padding: 15px 0px 15px 0px;

  a, a:hover, a:visited {
    color: #ffffff;
  }
}

/* Overrides */
h1, h2, h3, h4, h5, h6 {
  margin-top: 0px;
}
h1.title, h2.title, h3.title, h4.title, h5.title, h6.title {
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
  line-height: 1em;
}

a {
  color: #aa0000;
}

hr {
  margin: 10px 0px 10px 0px;
}

/* Chrome */
.chrome {
  font-weight: bold;
  background-color: #efefef;
  border-top: 1px solid #dedede;
  border-bottom: 2px solid #bcbcbc;
  padding: 5px 5px 5px 10px;
  margin-bottom: 10px;
  text-transform: uppercase;
  line-height: 1.0em
}
h1.chrome {
  font-size: 1.5em;
}
h2.chrome {
  font-size: 1.2em;
}
h3.chrome {
  font-size: 0.9em;
}
h4.chrome {
  font-size: 0.8em;
}

/* Lists */
ul.list {
  margin: 0px;
  list-style: none;
  display: inline-block;
  width: 100%;

  li {
    clear: both;
    float: left;
    width: 100%;
  }
}
ul.list li.list-itme, .list-item {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px dotted #dcdcdc;
}
.list-item.last {
  border-bottom: 0px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

/* UI Helpers */
.rounded-corners {
  border-radius: 4px 4px 4px 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
}

/* Images */
.image-main {
  -moz-box-shadow: 0px 3px 7px 0px #666666;
  -webkit-box-shadow: 0px 3px 7px 0px #666666;
  box-shadow: 0px 3px 7px 0px #666666;
}
.image-medium {
  -moz-box-shadow: 0px 2px 5px 0px #666666;
  -webkit-box-shadow: 0px 2px 5px 0px #666666;
  box-shadow: 0px 2px 5px 0px #666666;
}
.image-small {
  -moz-box-shadow: 0px 1px 3px 0px #666666;
  -webkit-box-shadow: 0px 1px 3px 0px #666666;
  box-shadow: 0px 1px 3px 0px #666666;
}
.image-thumb {
  -moz-box-shadow: 0px 1px 2px 0px #666666;
  -webkit-box-shadow: 0px 1px 2px 0px #666666;
  box-shadow: 0px 1px 2px 0px #666666;
}